@charset "utf-8";
body{
	background-color:black;
	background-image:url("imagess/edcba.jpg");
	color:white;
	font-family:"Palatino Linotype";
	text-align:center;
    margin:0;
}
.cent{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
h1{
	text-align:center;
}
.hi{
    margin-left:10%;
    margin-right:10%;
    background: #07adbc70;
    backdrop-filter: blur(5px);
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 8px 14px 10px -6px #00465D;
    border: 1px solid #00465D;
}
.ho{
    background: #00eaff8a;
    backdrop-filter: blur(5px);
    padding: 2rem;
    border-radius: 30px;
    margin:20px;
    box-shadow: 8px 14px 10px -6px #2d9dc2d1;
    border: 1px solid #009bceb6;
}
.ha{
    background: #014f5999;
    backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: 30px;
	margin:20px;
    box-shadow: 8px 14px 10px -6px #063b4d;
    border: 1px solid #045671;
}
.he{
    background: #07adbc60;
    backdrop-filter: blur(7px);
    padding: 1rem;
    border-radius: 30px;
    margin-left:85px;
    margin-right:85px;
    margin-top:15px;
    margin-bottom:15px;
    box-shadow: 8px 14px 10px -6px #00465D;
    border: 1px solid #00465D;
}
header {
    color:white;
    position: fixed;
    width: 100%;
    background:#00465D99;
	backdrop-filter:blur(74x);
    top: 0;
    transition: all 500ms ease;
    z-index:999;
    padding:15px;
    box-shadow: 0px 12px 10px 0px #00465D;
}
header.scrolled {
    border-radius: 10px;
    background: #00465D70;
    backdrop-filter: blur(7px);
    border: 1px solid #00465D;
    transition: all 500ms ease;
    width: 92%;
    margin: 0 4%;
    top: 20px;
    box-shadow: 8px 14px 10px -6px #00465D;
    z-index:999;
    padding:10px
}
.fill{
	height:100px;
}
footer{
    height:100px;
    color:white;
    background-color:#04383599;
    background-image:url("imagess/thing.gif");
    background-position-x:72%;
    background-position-y:45%;
    backdrop-filter:blur(9px);
    width: 100%;
    border: 1px solid #053041;
    box-shadow: 0 -7px 10px 0px #00465D;
}
.foot{
    background-color:#04383599;
    height:100px;
    backdrop-filter:blur(2px);
    display:block;
    transform:translateY(-22px);
}
.footle{
    transform:translateY(24px);
}